* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background: #ccc;
}

/* Your CSS below here */

main {
  width: 60%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  background-color: white;
}

article {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 0px 30px;
}

.article-title {
  text-align: center;
  border-bottom: 1px solid gray;
}

.row {
  display: flex;
  justify-content: space-between;
}

.col {
  text-align: justify;
  margin-left: 20px;
}

.col button {
  margin-top: 10px;
  padding: 10px;
  cursor: pointer;
  transition: .3s ease;
}

.col button:hover {
  transform: scale(1.1);
}

.header, .footer {
  width: 100%;
}

.header > img, .footer > img {
  width: 100%;
}

.footer {
  margin-top: -100px;
}

.logo {
  position: relative;
  display: inline-block;
  width: fit-content;
  height: fit-content;
  width: 150px;
  height: 150px;
  background: red;
  border-radius: 50%;
  background-image: url("../img/logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -50px;
  margin-left: 60px;
}

.logo h1 {
  position: absolute;
  font-size: 20px;
  color: black;
  text-align: center;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.address-container {
  display: flex;
  justify-content: flex-end; /* Pushes the address to the right */
  margin-right: 70px;
}

/************ for screen size less than 1024px ****************/

@media (max-width: 1024px) {
  main {
    width: 90%;
  }

  .row {
    flex-direction: column;
  }
}