* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background: #ccc;
}

/* Your CSS below here */

main {
  width: 60%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  background-color: white;
}

article {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 0px 30px;
}

.article-title {
  text-align: center;
  border-bottom: 1px solid gray;
}

.row {
  display: flex;
  justify-content: space-between;
}

.col {
  text-align: justify;
  margin-left: 20px;
}

.header, .footer {
  width: 100%;
}

.header > img, .footer > img {
  width: 100%;
}

.logo {
  position: relative;
  display: inline-block;
  width: fit-content;
  height: fit-content;
  margin-top: -90px;
  margin-left: 60px;
}

.logo h1 {
  position: absolute;
  font-size: 20px;
  color: white;
  text-align: center;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}